<%# locals: (tournament:) %>

<section>
  <h3><%= tournament.name %></h3>

  <%= time_tag tournament.date, class: "font-bold" %>
  <p><%= link_to t(".check_out_the_tournament_overview_page"), tournament, class: "link" %></p>
</section>
