<h1><%= t(".heading") %></h1>

<% if Tournament.next&.max_participations_reached? %>
  <%= render "tournaments/max_participations_reached" %>
<% else %>
  <%= render "form", participation: @participation %>
<% end %>
