@import "tailwindcss";

@plugin "@tailwindcss/forms";

@theme {
  --font-sans: "Lato";
}

@layer base {
  h1 {
    @apply mb-8 text-4xl font-bold;
  }

  h2 {
    @apply mb-4 text-2xl font-semibold;
  }

  h3 {
    @apply mb-2 text-xl font-medium;
  }

  section {
    @apply mt-8 mb-12;
  }

  input:disabled {
    @apply border-slate-600 text-slate-600;
  }
}

@utility link {
  @apply text-teal-700 underline decoration-2 hover:text-teal-500;
}

@utility btn {
  @apply inline-block cursor-pointer rounded-lg px-4 py-2 font-bold transition-colors;
}

@utility btn-primary {
  @apply bg-teal-300 hover:bg-teal-400;
}

@utility btn-secondary {
  @apply bg-slate-300 hover:bg-slate-400;
}

@utility btn-danger {
  @apply bg-rose-400 hover:bg-rose-500;
}

@utility btn-sm {
  @apply px-2 py-1 text-sm;
}
