<h2 class="mb-2 text-xl font-bold">Mitbringen von Spielen</h2>

<p>
  Wir freuen uns über eure Unterstützung! Damit alle auf ihre Kosten kommen, bitten wir euch, das Basisspiel und die
  relevanten Erweiterungen mitzubringen. Ideal sind Spiele auf Englisch, damit möglichst viele mitspielen können, aber
  auch deutsche Spiele sind natürlich herzlich willkommen. Ihr könnt uns bei der
  <%= link_to "Registrierung", :register, class: "text-teal-700 underline decoration-2 hover:text-teal-500" %>
  mitteilen, welche Spiele ihr mitbringen könnt.
</p>
