<h2 class="mb-2 text-xl font-bold">Bringing Games</h2>

<p>
  We appreciate your support! To ensure everyone has a great time, we kindly ask you to bring the base game and any
  relevant expansions. Games in English are ideal so that as many people as possible can join in, but games in German
  are of course also very welcome. You can let us know which games you can bring during
  <%= link_to "registration", :register, class: "text-teal-700 underline decoration-2 hover:text-teal-500" %>.
</p>
