<section>
  <h1>Mitbringen von Spielen</h1>
  <p>
    Wir freuen uns über eure Unterstützung! Damit alle auf ihre Kosten kommen,
    bitten wir euch, das Basisspiel und die relevanten Erweiterungen
    mitzubringen. Ideal sind Spiele auf Englisch, damit möglichst viele
    mitspielen können, aber auch deutsche Spiele sind natürlich herzlich
    willkommen. Ihr könnt uns bei der
    <%= link_to "Registrierung", :register, class: "link" %> mitteilen, welche
    Spiele ihr mitbringen könnt.
  </p>
</section>
