<h2 class="mb-2 text-xl font-bold">Verpflegung</h2>

<p>Vor Ort wird es einen Getränkeverkauf mit alkoholfreien Getränken geben. Bitte geht vorsichtig mit den Flaschen um,
  damit keine Scherben entstehen, und stellt sicher, dass keine Spiele mit Getränken in Kontakt kommen.</p>

<p>Es wird vor Ort kein eigenes Essen angeboten. Allerdings gibt es in der Nähe zahlreiche Essensmöglichkeiten und
  Supermärkte. Zum Beispiel:</p>

<ul class="list-inside list-disc">
  <li>
    <%=
      link_to "Rewe: Deutzer Freiheit 84-86",
              "https://maps.app.goo.gl/5QXHRTevjJXjQVfC7",
              class: "text-teal-700 underline decoration-2 hover:text-teal-500",
              target: :blank
    %>
  </li>
  <li>
    <%=
      link_to "Penny: Deutzer Freiheit 96",
              "https://maps.app.goo.gl/6AkPXiLeMNFRexrv8",
              class: "text-teal-700 underline decoration-2 hover:text-teal-500",
              target: :blank
    %>
  </li>
  <li>
    <%=
      link_to "Düxer Grill: Graf-Geßler-Straße 2",
              "https://maps.app.goo.gl/BePpoYkkbCnoSmrW7",
              class: "text-teal-700 underline decoration-2 hover:text-teal-500",
              target: :blank
    %>
  </li>
  <li>
    <%=
      link_to "Deutzer Asia Imbiss: Gotenring 37",
              "https://maps.app.goo.gl/jpqEVsq9L14mw8oy6",
              class: "text-teal-700 underline decoration-2 hover:text-teal-500",
              target: :blank
    %>
  </li>
</ul>

<p>Allgemein gibt es viele Imbissstände und Supermärkte auf der Straße "Deutzer Freiheit." Natürlich könnt ihr auch
  gerne euer eigenes Essen mitbringen. Bitte denkt daran, falls nötig, euer eigenes Besteck mitzubringen, da wir vor
  Ort keines bereitstellen können.</p>
