<h2 class="mb-2 text-xl font-bold">Verpflegung</h2>

<p>Vor Ort wird es einen Getränkeverkauf mit alkoholfreien Getränken geben. Bitte geht vorsichtig mit den Flaschen um,
  damit keine Scherben entstehen, und stellt sicher, dass keine Spiele mit Getränken in Kontakt kommen.</p>

<p>Es wird vor Ort kein eigenes Essen angeboten. Allerdings gibt es in der Nähe zahlreiche Essensmöglichkeiten und
  Supermärkte, insbesondere auf der Straße "Deutzer Freiheit". Natürlich könnt ihr auch gerne euer eigenes Essen
  mitbringen. Bitte denkt daran, falls nötig, euer eigenes Besteck mitzubringen, da wir vor Ort keines bereitstellen
  können.</p>
