<h2 class="mb-2 text-xl font-bold">Food and Drinks</h2>

<p>There will be a beverage sale on-site with non-alcoholic drinks. Please handle the bottles carefully to avoid
  breakage and ensure that no games come into contact with drinks.</p>

<p>There will be no in-house food available on-site. However, there are plenty of food places and supermarkets nearby.
  For example:</p>

<ul class="list-inside list-disc">
  <li>
    <%=
      link_to "Rewe: Deutzer Freiheit 84-86",
              "https://maps.app.goo.gl/5QXHRTevjJXjQVfC7",
              class: "text-teal-700 underline decoration-2 hover:text-teal-500",
              target: :blank
    %>
  </li>
  <li>
    <%=
      link_to "Penny: Deutzer Freiheit 96",
              "https://maps.app.goo.gl/6AkPXiLeMNFRexrv8",
              class: "text-teal-700 underline decoration-2 hover:text-teal-500",
              target: :blank
    %>
  </li>
  <li>
    <%=
      link_to "Düxer Grill: Graf-Geßler-Straße 2",
              "https://maps.app.goo.gl/BePpoYkkbCnoSmrW7",
              class: "text-teal-700 underline decoration-2 hover:text-teal-500",
              target: :blank
    %>
  </li>
  <li>
    <%=
      link_to "Deutzer Asia Imbiss: Gotenring 37",
              "https://maps.app.goo.gl/jpqEVsq9L14mw8oy6",
              class: "text-teal-700 underline decoration-2 hover:text-teal-500",
              target: :blank
    %>
  </li>
</ul>

<p>In general, there are many food stalls and supermarkets on the street "Deutzer Freiheit." Of course, you're welcome
  to bring your own food. If needed, please remember to bring your own cutlery, as we cannot provide it on-site.</p>
