<section>
  <h1>Distinction from FryxGames</h1>

  <p>
    Various internet forums have raised accusations against a member of FryxGames relating to transphobia. The Facebook
    posts to which the accusations refer date from 2021 and have since been deleted. In response to our inquiry,
    FryxGames referred to the vision described on its website.
  </p>

  <br>

  <p>
    Important: The allegations are four years old, the Facebook posts no longer exist, and FryxGames states that it is
    committed to a board game table where there is room for everyone.
  </p>

  <br>

  <p>
    Nevertheless, it is important to us to once again expressly distance ourselves from any discriminatory behavior and
    to make it clear that everyone is welcome at this event, especially LGBTQ+ people!
  </p>

  <br>

  <p>
    Dealing with the allegations against the FryxGames employee was difficult for us. We ultimately decided to hold the
    tournament anyway, as the game itself does not contain any discriminatory content and we want to use the event to
    promote diversity and cohesion.
  </p>

  <br>

  <p>The tournament is not sponsored by FryxGames, but is organized by the community for the community.</p>

  <br>

  <p>
    If you have any further questions on this topic, please feel free to contact us. We would also be happy to discuss
    it with you again. We have discussed this at length within the organizing team and would be happy to share our
    thoughts with you.
  </p>
</section>

<section>
  <h1>Donations</h1>

  <p>
    We are pleased to announce that we have selected
    <%= link_to "rubicon e. V.", "https://rubicon-koeln.de/", class: "font-bold link", target: "_blank", rel: "noopener" %>
    as the recipient of the proceeds from the first edition of the German Open in April 2025. The total amount of
    <b>€210.70</b> has been transferred to rubicon to support its work in helping "lesbian, gay, bisexual, trans*,
    inter*, and queer-oriented people (LSBT*I*Q), their families, and chosen families to live and love with confidence
    and without fear." Make sure to visit rubicon's
    <%= link_to "website", "https://rubicon-koeln.de/", class: "link", target: "_blank", rel: "noopener" %> to learn
    more.
  </p>
</section>
