<section>
  <h1>Abgrenzung von FryxGames</h1>

  <p>
    Es gibt in diversen Internetforen Vorwürfe gegen ein Mitglied von FryxGames, welche sich auf Transfeindlichkeit
    beziehen. Die Facebookposts, auf welche sich in den Vorwürfen bezogen wird, stammen aus dem Jahr 2021 und sind
    mittlerweile gelöscht worden. FryxGames hat auf unsere Anfrage hin, auf die auf ihrer Webseite beschriebene Vision
    verwiesen.
  </p>

  <br>
  <p>
    Wichtig: Diese Vorwürfe sind vier Jahre alt, die Facebook-Posts nicht mehr existent und FryxGames setzt sich laut
    eigener Vision für ein Brettspieltisch ein, an dem alle Menschen einen Platz haben.
  </p>

  <br>
  <p>
    Trotzdem ist es uns wichtig, uns an dieser Stelle nochmal von jeglichem diskriminierendem Verhalten explizit zu
    distanzieren und klarzustellen, dass bei diesem Event alle Menschen willkommen sind, insbesondere LGTBQ+ Menschen!
  </p>

  <br>
  <p>
    Der Umgang mit den Vorwürfen gegen ein Mitarbeiter von FryxGames ist uns nicht leicht gefallen. Am Ende unserer
    Überlegungen stand, dass wir dieses Turnier ausrichten wollen, da wir im Spiel selbst keine diskriminierenden
    Inhalte sehen und wir in der Veranstaltung selbst eine Möglichkeit sehen, Vielfalt und Zusammenhalt zu fördern.
  </p>

  <br>
  <p>
    Das Turnier an sich wird nicht durch FryxGames gesponsert und ist aus der Community für die Community organisiert.
    Darüber hinaus werden alle Gewinne des Turniers an eine lokale Organisation gespendet, die sich für LGBTQ+-Belange
    einsetzt. Wir sind gerade im Prozess einen Verein für diesen Zweck auszuwählen. Sobald wir ein Ergebnis haben,
    werden wir den Verein hier nennen.
  </p>

  <br>
  <p>
    Wenn ihr noch weitere Fragen zu diesem Thema habt, dann meldet euch bei uns und wir sprechen gerne nochmal mit euch
    darüber. Wir haben viel im Orga-Team darüber diskutiert und bringen euch unsere Gedankengänge auch gerne nochmal
    näher.
  </p>
</section>
