<section>
  <h1>Abgrenzung von FryxGames</h1>

  <p>
    In diversen Internetforen werden Vorwürfe gegen ein Mitglied von FryxGames erhoben, die sich auf Transfeindlichkeit
    beziehen. Die Facebook-Posts, auf die sich die Vorwürfe beziehen, stammen aus dem Jahr 2021 und sind mittlerweile
    gelöscht worden. Auf unsere Anfrage hat FryxGames auf die auf ihrer Webseite beschriebene Vision verwiesen.
  </p>

  <br>

  <p>
    Wichtig: Die Vorwürfe sind vier Jahre alt, die Facebook-Posts existieren nicht mehr und FryxGames setzt sich laut
    eigener Aussage für einen Brettspieltisch ein, an dem alle Menschen Platz haben.
  </p>

  <br>

  <p>
    Trotzdem ist es uns wichtig, uns an dieser Stelle noch einmal ausdrücklich von jeglichem diskriminierenden Verhalten
    zu distanzieren und klarzustellen, dass bei diesem Event alle Menschen willkommen sind, insbesondere
    LGTBQ+-Menschen!
  </p>

  <br>

  <p>
    Der Umgang mit den Vorwürfen gegen den Mitarbeiter von FryxGames fiel uns schwer. Wir haben uns schließlich
    entschieden, das Turnier trotzdem zu veranstalten, da das Spiel selbst keine diskriminierenden Inhalte enthält und
    wir die Veranstaltung nutzen möchten, um Vielfalt und Zusammenhalt zu stärken.
  </p>

  <br>

  <p>Das Turnier wird nicht von FryxGames gesponsert, sondern ist von der Community für die Community organisiert.</p>

  <br>

  <p>
    Wenn ihr noch weitere Fragen zu diesem Thema habt, meldet euch gerne bei uns. Wir sprechen auch gerne noch einmal
    mit euch darüber. Wir haben im Orga-Team viel darüber diskutiert und bringen euch unsere Gedankengänge auch gerne
    näher.
  </p>
</section>

<section>
  <h1>Spenden</h1>

  <p>
    Wir freuen uns zu verkünden, dass wir
    <%= link_to "rubicon e. V.", "https://rubicon-koeln.de/", class: "font-bold link", target: "_blank", rel: "noopener" %>
    als Empfänger der Einnahmen der ersten Ausgabe der German Open vom April 2025 ausgewählt haben. Der Gesamtbetrag
    von <b>210,70€</b> wurde an rubicon überwiesen, um seine Arbeit zu unterstützen, "lesbische, schwule, bisexuelle,
    trans*, inter* und queer orientierte Menschen (LSBT*I*Q), ihre Familien und Wahlfamilien darin [zu unterstützen],
    selbstbewusst und angstfrei zu leben und zu lieben". Besucht rubicon gerne auf seiner
    <%= link_to "Webseite", "https://rubicon-koeln.de/", class: "link", target: "_blank", rel: "noopener" %>, um mehr
    zu erfahren.
  </p>
</section>
