<section>
  <h1>Distinction from FryxGames</h1>

  <p>
    There have been allegations in various online forums against a member of FryxGames regarding transphobia. The
    Facebook posts referenced in these allegations date back to 2021 and have since been deleted. In response to our
    inquiry, FryxGames referred to the vision outlined on their website.
  </p>

  <br>
  <p>
    Important: These allegations are four years old, the Facebook posts no longer exist, and according to their own
    vision, FryxGames is committed to a gaming table where everyone has a place.
  </p>

  <br>
  <p>
    Nevertheless, we find it important to explicitly distance ourselves from any form of discriminatory behavior and to
    make it clear that everyone is welcome at this event, especially LGBTQ+ individuals!
  </p>

  <br>
  <p>
    Handling these allegations against a FryxGames employee was not an easy decision for us. In the end, we decided to
    go ahead with the tournament because we see no discriminatory content in the game itself and believe that the event
    provides an opportunity to promote diversity and inclusion.
  </p>

  <br>
  <p>
    The tournament is not sponsored by FryxGames and is organized by the community, for the community. Additionally,
    all proceeds from the tournament will be donated to a local organization supporting LGBTQ+ causes. We are currently
    in the process of selecting a suitable organization and will announce our choice here as soon as the decision is
    made.
  </p>

  <br>
  <p>
    If you have any further questions or comments about this topic, please feel free to reach out to us. We have had
    extensive discussions within our organizing team and are happy to share our thoughts with you.
  </p>
</section>
