<section>
  <h1>Location</h1>

  <p>
    The tournament will take place at the
    <%= link_to "Bürgerzentrum Deutz", "https://www.buergerzentrum-deutz.de/", class: "link", target: :blank %>. The address is:
  </p>

  <br>
  <address>
    Tempelstraße 41-43
    <br>
    50679 Köln
  </address>

  <br>
  <p>
    The Bürgerzentrum is accessible at ground level and barrier-free. The facility has an elevator and two barrier-free
    restrooms.
  </p>

  <br>
  <p>
    We strongly recommend using public transportation, as parking around the Bürgerzentrum is very limited.
  </p>

  <p>
    From the "Köln Messe/Deutz" station, it’s about a 10-minute walk.
  </p>

  <p>
    From the "Deutzer Freiheit" tram stop (lines 1, 7, 9), it's just a 5-minute walk.
  </p>

  <p>
    If you do choose to drive, there are some paid parking options and parking garages in the vicinity. Please check
    the prices of these options yourself.
  </p>
</section>
