<h2 class="mb-2 text-xl font-bold">Getting here</h2>

<p>The tournament will take place at the Bürgerzentrum Deutz. The address is:</p>

<br>
<address>
  Tempelstraße 41-43
  <br>
  50679 Köln
</address>

<br>
<p>We strongly recommend using public transportation, as parking around the Bürgerzentrum is very limited.</p>

<p>From the "Köln Messe/Deutz" station, it’s about a 10-minute walk.</p>

<p>From the "Deutzer Freiheit" tram stop (lines 1, 7, 9), it's just a 5-minute walk.</p>

<p>If you do choose to drive, there are some paid parking options and parking garages in the vicinity. Please check the
  prices of these options yourself.</p>
