<h2 class="mb-2 text-xl font-bold">Anreise</h2>

<p>Das Turnier findet im Bürgerzentrum Deutz statt. Die Adresse lautet:</p>

<br>
<address>
  Tempelstraße 41-43
  <br>
  50679 Köln
</address>

<br>
<p>Wir empfehlen dringend die Nutzung öffentlicher Verkehrsmittel, da die Parkmöglichkeiten rund um das Bürgerzentrum
  sehr begrenzt sind.</p>

<p>Vom Bahnhof "Köln Messe/Deutz" sind es etwa 10 Minuten zu Fuß.</p>

<p>Von der Straßenbahnhaltestelle "Deutzer Freiheit" (Linien 1, 7, 9) sind es nur 5 Minuten zu Fuß.</p>

<p>Falls Ihr dennoch mit dem Auto anreisen möchten, gibt es in der Umgebung einige kostenpflichtige Parkmöglichkeiten
  und Parkhäuser. Bitte informiert euch eigenständig über die Preise.</p>
