<section>
  <h1>Ort</h1>

  <p>
    Das Turnier findet im
    <%= link_to "Bürgerzentrum Deutz", "https://www.buergerzentrum-deutz.de/", class: "link", target: :blank %>
    statt. Die Adresse lautet:
  </p>

  <br>

  <address>
    Tempelstraße 41-43
    <br>
    50679 Köln
  </address>

  <br>

  <p>
    Das Bürgerzentrum ist ebenerdig zugänglich und barrierefrei. Die Einrichtung
    verfügt über einen Aufzug und zwei barrierefreie Toiletten.
  </p>

  <br>

  <p>
    Wir empfehlen dringend die Nutzung öffentlicher Verkehrsmittel, da die
    Parkmöglichkeiten rund um das Bürgerzentrum sehr begrenzt sind.
  </p>

  <p>
    Vom Bahnhof "Köln Messe/Deutz" sind es etwa 10 Minuten zu Fuß.
  </p>

  <p>
    Von der Straßenbahnhaltestelle "Deutzer Freiheit" (Linien 1, 7, 9) sind es
    nur 5 Minuten zu Fuß.
  </p>

  <p>
    Falls Ihr dennoch mit dem Auto anreisen möchten, gibt es in der Umgebung
    einige kostenpflichtige Parkmöglichkeiten und Parkhäuser. Bitte informiert
    euch eigenständig über die Preise.
  </p>
</section>
