<section class="flex flex-col gap-8">
  <%= render "quick_navigation" %>

  <div>
    <h1 class="mb-4 text-center text-5xl font-extrabold">German Open</h1>
    <h2 class="text-center font-extrabold"><%= t(".terraforming_mars_tournament") %></h2>
  </div>

  <div class="flex justify-center"><%= image_tag "logo_with_text.svg", class: "w-48" %></div>

  <% if Tournament.planned? %>
    <div class="self-center text-center">
      <% if authenticated? && Current.user.participations.exists?(tournament: Tournament.next) %>
      <% else %>
        <%= render "shared/register_button", tournament: Tournament.next %>
      <% end %>
    </div>
  <% end %>
</section>
