<section>
  <h1>Tournament Language</h1>

  <p>
    The tournament organizers speak both German and English, ensuring
    flexibility for all participants. We strive to provide as many
    English-language games as possible and use them during the tournament, as
    there will also be international guests attending. Therefore, it's likely
    that communication during games will be in English.
  </p>

  <br>

  <p>
    Are you unsure about communicating in English? No problem! There is usually
    someone at the table who can translate your questions if needed, or we'll
    find another solution together. A language barrier should never be a reason
    for you not to participate – we're excited to have you join us!
  </p>
</section>
