<h2 class="mb-2 text-xl font-bold">Turniersprache</h2>

<p>
  Die Turnierleitung spricht sowohl Deutsch als auch Englisch, sodass wir flexibel auf alle Teilnehmenden eingehen
  können. Wir bemühen uns, möglichst viele englische Spiele bereitzustellen und diese während des Turniers zu nutzen,
  da auch internationale Gäste teilnehmen werden. Daher kann es gut sein, dass während der Spiele auf Englisch
  kommuniziert wird.
</p>

<br/>
<p>
  Du bist unsicher, ob du dich auf Englisch verständigen kannst? Kein Problem! Meistens gibt es jemanden am Tisch, der
  bei Fragen für dich übersetzen kann, oder wir finden gemeinsam eine andere Lösung. Eine Sprachbarriere soll auf
  keinen Fall ein Grund sein, dass du nicht teilnimmst – wir freuen uns auf dich!
</p>
