<section>
  <h1>Looking back at the first edition of the German Open</h1>

  <div class="flex flex-col gap-8">
    <p>
      On <%= time_tag(Date.new(2025, 4, 5)) %>, 86 players participated in the first edition of the German Open! After
      three rounds, Kyriakos Avgoustis was crowned champion with placing first in every single game. It was a day full
      of good chats, a few security fleets, and lots of fun. We hope to see you at the next tournament. Any news
      concerning the next German Open will be published here in the future!
      <br>
      The final results can be found <%= link_to "here", "/tournaments/1-german-open/ranking", class: "link" %>.
    </p>

    <figure>
      <%= image_tag "2025_podium.jpeg", alt: "Podium of the German Open 2025" %>
      <figcaption class="text-center">
        Tobias Nandelstädt (left, 2nd place), Kyriakos Avgoustis (middle, 1st place), Grzegorz Kobiela (right, 3rd
        place)
      </figcaption>
    </figure>

    <%= image_tag "2025_impressions.jpeg", alt: "Impressions of the German Open 2025" %>
  </div>
</section>
