<section>
  <h1>Rückblick auf die erste Ausgabe der German Open</h1>

  <div class="flex flex-col gap-8">
    <p>
      Am <%= time_tag(Date.new(2025, 4, 5)) %> nahmen 86 Spieler:innen an der ersten Ausgabe der German Open teil! Nach
      drei Runden wurde Kyriakos Avgoustis zum Sieger gekrönt – er belegte in jedem einzelnen Spiel den ersten Platz.
      Es war ein Tag voller guter Gespräche, einiger Sicherheitsflotten und jeder Menge Spaß. Wir hoffen, euch beim
      nächsten Turnier wiederzusehen. Alle Neuigkeiten zur nächsten German Open werden künftig hier veröffentlicht!
      <br>
      Die finalen Ergebnisse können <%= link_to "hier", "/tournaments/1-german-open/ranking", class: "link" %> gefunden
      werden.
    </p>

    <figure>
      <%= image_tag "2025_podium.jpeg", alt: "Podium der German Open 2025" %>
      <figcaption class="text-center">
        Tobias Nandelstädt (links, 2. Platz), Kyriakos Avgoustis (Mitte, 1. Platz), Grzegorz Kobiela (rechts, 3. Platz)
      </figcaption>
    </figure>

    <%= image_tag "2025_impressions.jpeg", alt: "Impressionen der German Open 2025" %>
  </div>
</section>
