<h2 class="mb-2 text-xl font-bold">Rückblick auf die erste Ausgabe der German Open</h2>

<div class="flex flex-col gap-8">
  <p>
    85 Spieler:innen nahmen an der ersten Ausgabe der German Open teil! Nach drei Runden wurde Kyriakos Avgoustis zum
    Sieger gekrönt – er belegte in jedem einzelnen Spiel den ersten Platz. Es war ein Tag voller guter Gespräche,
    einiger Sicherheitsflotten und jeder Menge Spaß. Wir hoffen, euch beim nächsten Turnier wiederzusehen. Alle
    Neuigkeiten zur nächsten German Open werden künftig hier veröffentlicht!
    <br>
    Die finalen Ergebnisse können
    <%= link_to "hier", asset_path("2025_results.pdf"), class: "link", target: "_blank", rel: "noopener" %>
    gefunden werden.
  </p>

  <figure>
    <%= image_tag "2025_podium.jpeg", alt: "Podium der German Open 2025" %>
    <figcaption class="text-center">Tobias Nandelstädt (links, 2. Platz), Kyriakos Avgoustis (Mitte, 1. Platz), Grzegorz Kobiela (rechts, 3. Platz)</figcaption>
  </figure>

  <%= image_tag "2025_impressions.jpeg", alt: "Impressionen der German Open 2025" %>
</div>
