<h2 class="font-bold">Bildaufnahmen Einverständnis</h2>

<p>
  Mit eurer Registrierung bestätigt ihr, dass von euch während der Veranstaltung Bilder und Videos gemacht werden und
  diese zu Werbezwecken auf dieser Webseite und unseren sozialen Medien verwendet werden dürfen.
</p>
