<h2 class="mb-2 text-xl font-bold">Bildaufnahmen Einverst채ndnis</h2>

<p>Mit eurer Registrierung best채tigt ihr, dass von euch w채hrend der Veranstaltung Bilder und Videos gemacht werden und
  diese zu Werbezwecken auf dieser Webseite und unseren sozialen Medien verwendet werden d체rfen.</p>
