<h2 class="mb-2 text-xl font-bold">Image Recording Consent</h2>

<p>
  With your registration, you confirm that pictures and videos of you will be taken during the event and that these may
  be used for advertising purposes on this website and our social media channels.
</p>
