<section>
  <h1>Image Recording Consent</h1>

  <p>
    With your registration, you confirm that pictures and videos of you will be taken during the event and that these
    may be used for advertising purposes on this website and our social media channels.
  </p>
</section>
