<% if Tournament.next.date.today? && authenticated? && Current.user.participations.exists?(tournament: Tournament.next) %>
  <div class="flex flex-col gap-4 self-center rounded-2xl border-2 border-teal-300 bg-teal-50 p-4">
    <span class="text-center text-xl font-bold"><%= Tournament.next.name %></span>
    <p>
      Welcome! Head over to the <%= link_to "tournament overview page", Tournament.next, class: "link" %> for more
      information!
    </p>
  </div>
<% end %>
