<section>
  <h1>Table Seating and Results</h1>

  <iframe
    width="100%"
    height="800px"
    src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTJPHh2vdvC0Oe3qn714c03JRVRFqx9kU-F3UYYZbgmfUaBV98oWL9VcKLPOzJ587yWWF43lhU5vhLu/pubhtml?widget=false&amp;headers=false"
  ></iframe>
</section>
