<h2 class="mb-2 text-xl font-bold">Tournament Rules and Structure</h2>

<b>Required Experience Level</b>
<p>The tournament is organized for players who are already familiar with the game and its rules. It is not intended for
  beginners. This helps us keep our greatest enemy in check: time.</p>
<p>We will be playing with both the English and German editions of the game.</p>

<br>
<b>Number of Rounds and Expansions Used</b>
<p>The tournament will consist of three rounds. Each round will be played on a different game board (Tharsis, Hellas,
  Elysium), provided there are enough Hellas &amp; Elysium expansions available. If not, multiple rounds may be played
  on the Tharsis board.</p>
<p>We will play using the "Corporate Era" rules and the Prelude expansion (not Prelude 2). In total, the game includes
  215 project cards, 40 Prelude cards, and 17 corporation cards.</p>

<br>
<b>Special Tournament Rules</b>
<p>We will use both the "Corporate Era" rules and the draft variant. However, the draft variant will only be used during
  the research phase. Your initial ten starting cards will not be drafted.</p>
<p>Additionally, you will select from three corporations instead of the usual two.</p>

<br>
<b>Round Duration</b>
<p>Each round will last a maximum of 2.5 hours. Does that sound short? It is. However, past tournaments have shown that
  this time is sufficient even for less experienced players.</p>
<p>If the time limit is reached, the following rules apply: 15 minutes before the 2.5-hour mark, a signal will be given
  by the tournament organizers. At that point, the current generation will be completed. Five minutes before the end of
  the 2.5 hours, a second signal will be given. At this point, all players will take one final turn in the current
  generation, ensuring everyone has had an equal number of turns in that generation. The game will then conclude with a
  final production phase and greenery placement. If oxygen has not yet reached 14%, it can still be increased during
  the final greenery placement, and you can earn additional Terraform Rating points.</p>
