<h2 class="mb-2 text-xl font-bold">Turnierregeln und Aufbau</h2>

<b>Erforderliches Erfahrungsniveau</b>
<p>Das Turnier ist für Spieler:innen organisiert, die bereits mit dem Spiel und seinen Regeln vertraut sind. Es handelt
  sich nicht um ein Turnier für Einsteiger:innen. Damit versuchen wir, unseren größten Gegner in Schach zu halten: die
  Zeit.</p>
<p>Wir werden sowohl die englische als auch die deutsche Ausgabe des Spiels spielen.</p>

<br>
<b>Anzahl Spieler:innen pro Tisch</b>
<p>Unser Ziel ist, in jeder Partie zu viert zu spielen. Sollte das aufgrund der Gesamtanzahl an Spieler:innen nicht
  möglich sein, wird mit Partien a drei Personen aufgefüllt.</p>

<br>
<b>Anzahl der gespielten Runden und verwendete Erweiterungen</b>
<p>Es wird drei Spielrunden geben. In jeder Spielrunde wird auf einem anderen Spielbrett gespielt (Tharsis, Hellas,
  Elysium), sofern es genug Hellas &amp; Elysium Erweiterungen gibt. Falls nicht, kann es auch sein, dass mehrere
  Runden auf Tharsis gespielt werden.</p>
<p>Wir spielen mit den "Zeitalter der Konzerne" Regeln und der Präludium Erweiterung (nicht Präludium 2). Insgesamt sind
  215 Projektkarten, 40 Präludium Karten und 17 Konzernkarten Teil des Spiels.</p>

<br>
<b>Sonderregeln beim Turnier</b>
<p>Wir spielen sowohl mit der "Zeitalter der Konzerne" als auch der Draft-Variante. Die Draft-Variante nutzen wir
  allerdings nur in der Forschungsphase, die zehn Startkarten werden also nicht gedraftet.</p>
<p>Außerdem bekommt ihr drei Konzerne zur Auswahl, anstatt der üblichen zwei.</p>

<br>
<b>Spielzeit pro Runde</b>
<p>Jede Spielrunde dauert maximal 2,5 Stunden. Das klingt nach wenig? Ist es auch. Vergangene Turniere haben jedoch
  gezeigt, dass die Zeit auch für weniger erfahrene Spieler:innen ausreichend ist.</p>
<p>Falls die Zeit doch einmal nicht ausreichen sollte, gibt es folgende Regeln: 15 Minuten vor Ablauf der 2,5 Stunden
  gibt es ein Signal der Turnierleitung. Dann wird maximal noch die aktuelle Generation zu Ende gespielt. 5 Minuten vor
  Ablauf der 2,5 Stunden erfolgt ein zweites Signal von der Turnierleitung. Dann sind alle Personen bis zur beginnenden
  Person in dieser Generation noch einmal dran (sodass alle genau gleich oft dran waren in dieser Generation). Dann
  endet das Spiel mit einer finalen Produktionsphase und Grünflächenplatzierung. Sollte der Sauerstoff noch nicht auf
  14 Prozent sein, kann dieser auch in der finalen Grünflächenplatzierung noch erhöht werden und ihr könnt zusätzliches
  Terraform Rating bekommen.</p>
