<section>
  <h1>Tournament Mode</h1>

  <p>
    We will play using a Swiss system. This means that in the first round, you
    will play against random opponents, and in subsequent rounds, you will be
    matched with players who have similar standings.
  </p>

  <section>
    <h2>Scoring System</h2>

    <p>
      After each round, you will earn points based on your placement in the
      game.
    </p>

    <ul class="list-inside list-disc">
      <li>1st place: 5 points</li>
      <li>2nd place: 3 points</li>
      <li>3rd place: 2 points</li>
      <li>4th place: 1 point</li>
    </ul>

    <p>
      At tables with only 3 players, no fourth place is awarded.
    </p>
  </section>

  <section>
    <h2>Tie-Breakers in Games</h2>
    <p>
      In the case of a tie in victory points, the first tie-breaker, as usual,
      is the amount of MegaCredits. If there is still a tie, the production of
      resources will be considered in the order of MegaCredits, Steel, Titanium,
      Plants, Energy, and Heat. In the extremely unlikely event that a tie
      persists, the affected players will play a round of Rock, Paper, Scissors.
    </p>
  </section>

  <section>
    <h2>Tie-Breakers in the Overall Rankings</h2>
    <p>
      The first tie-breaker in the overall rankings is the sum of the tournament
      points of all players you have played against. If a tie still exists, the
      average number of victory points per generation will be used. In the
      extremely unlikely event that a tie still remains, the affected players
      will play a round of Rock, Paper, Scissors.
    </p>
  </section>
</section>
