<section>
  <h1>Turniermodus</h1>

  <p>
    Wir spielen ein Schweizer System. Das heißt, dass ihr in der ersten Runde
    gegen zufällige Gegner:innen spielt und danach immer mit ähnlich platzierten
    Spieler:innen an einen Tisch kommt.
  </p>

  <section>
    <h2>Punkteverteilung</h2>

    <p>
      Nach jeder Runde erhaltet ihr abhängig von eurer Platzierung im Spiel
      Punkte.
    </p>

    <ul class="list-inside list-disc">
      <li>1. Platz: 5 Punkte</li>
      <li>2. Platz: 3 Punkte</li>
      <li>3. Platz: 2 Punkte</li>
      <li>4. Platz: 1 Punkt</li>
    </ul>

    <p>
      An Tischen mit nur 3 Spieler:innen wird kein vierter Platz vergeben.
    </p>
  </section>

  <section>
    <h2>Tie-Breaker in den Spielen</h2>
    <p>
      Bei Siegpunkte-Gleichstand zählt als erster Tie-Breaker wie üblich die
      Menge an MegaCredits. Sollte es dann immer noch einen Gleichstand geben,
      zählen die Produktionen der Ressourcen in der Reihenfolge MegaCredits,
      Stahl, Titan, Pflanzen, Energie, Wärme. Im äußerst unwahrscheinlichen
      Fall, dass dann immer noch ein Gleichstand besteht, spielen die
      betroffenen Spieler:innen eine Runde Schere, Stein, Papier.
    </p>
  </section>

  <section>
    <h2>Tie-Breaker in der Gesamtwertung</h2>
    <p>
      Der erste Tie-Breaker in der Gesamtwertung ist die Summe der Turnierpunkte
      aller Spieler:innen, gegen die ihr bereits gespielt habt. Danach wird die
      durchschnittliche Anzahl an Siegpunkten pro Generation herangezogen. Im
      äußerst unwahrscheinlichen Fall, dass dann immer noch ein Gleichstand
      besteht, spielen die betroffenen Spieler:innen eine Runde Schere, Stein,
      Papier.
    </p>
  </section>
</section>
