<div class="mx-auto max-w-xl rounded-2xl border-2 border-teal-300 bg-teal-50 p-2">
  Vielen Dank an alle, die an der zweiten Ausgabe der German Open teilgenommen haben! Wir hatten viel Spaß und hoffen,
  dass es euch auch gefallen hat. Die endgültige Rangliste und die Ergebnisse findet ihr
  <%= link_to "hier", "/tournaments/2-german-open-fall-2025", class: "link" %>. Wir halten euch mit weiteren Updates
  auf dem Laufenden.
</div>

<br>
