<div class="mx-auto max-w-xl rounded-2xl border-2 border-teal-300 bg-teal-50 p-2">
  Thanks everyone for taking part in the second edition of the German Open! We had a blast, and we hope you did too.
  You can find the final ranking and results
  <%= link_to "here", "/tournaments/2-german-open-fall-2025", class: "link" %>, and we'll keep you posted with more
  updates.
</div>

<br>
