<h2 class="mb-2 text-xl font-bold"><%= t(".heading") %></h2>

<p>Unser Hauptziel mit diesem Event ist es, allen einen angenehmen und terraformenden Tag auf dem Mars zu bieten. Der
  Spaß sollte im Vordergrund stehen. Natürlich seid ihr willkommen, mit einer gesunden Portion Ehrgeiz zu spielen,
  jedoch nur, solange dies nicht auf Kosten des Turnierspirits geschieht.</p>
<p>Der Turnierspirit umfasst mehrere zentrale Aspekte:</p>

<br>
<b>Fairness</b>
<p>Wir bitten euch, fair zu spielen und nicht zu schummeln.</p>

<br>
<b>Respekt</b>
<p>Behandelt einander respektvoll – sei es in eurer Kommunikation am Spieltisch, im Umgang mit den bereitgestellten
  Spielen oder beim Akzeptieren der Entscheidungen der Turnierleitung.</p>

<br>
<b>Kommunikation</b>
<p>Bevor ihr eure Spiele beginnt, nehmt euch bitte einen Moment Zeit, um zu besprechen, wie ihr vergessene Effekte (z.
  B. Haustiere) oder allgemeine Fehler während des Spiels handhaben möchtet (z. B. das Vergessen, eine Ressource in der
  Produktionsphase zu erhalten, oder den Wunsch, eine weitere Aktion nach dem Passen auszuführen). Einigt euch auf eine
  Vorgehensweise, die für alle funktioniert, oder entscheidet, ob Fehler nachträglich korrigiert werden können.</p>
<p>Wenn ihr an eurem Tisch keine Einigung erzielen könnt, wendet euch bitte an die Turnierleitung. Sie wird eine
  Entscheidung für euch treffen und kann bei Bedarf auch bei der Auslegung der Regeln helfen. Bitte respektiert ihre
  Entscheidung.</p>

<br>
<p>Falls ihr euch zu irgendeinem Zeitpunkt während des Turniers unwohl fühlt, wendet euch bitte ebenfalls an die
  Turnierleitung. Wir werden unser Bestes tun, um eine Lösung zu finden.</p>
<p>Die Missachtung des Turnierspirits (z. B. Schummeln) oder das Zeigen jeglicher Form von diskriminierendem Verhalten
  führt zum Ausschluss vom Turnier.</p>
