<section>
  <h1><%= t(".heading") %></h1>

  <p>
    Our main goal with this event is to provide everyone with an enjoyable and terraforming-filled day on Mars. Fun
    should be the priority. Of course, you're welcome to play with a healthy dose of ambition, but only as long as it
    doesn’t come at the expense of the tournament's spirit.
  </p>
  <p>
    The spirit of the tournament encompasses several key aspects:
  </p>

  <section>
    <h2>Fairness</h2>
    <p>
      We ask you to play fair and not to cheat.
    </p>
  </section>

  <section>
    <h2>Respect</h2>
    <p>
      Treat each other with respect—whether in your communication at the game table, in handling the provided games, or
      in accepting the decisions made by the tournament organizers.
    </p>
  </section>

  <section>
    <h2>Communication</h2>
    <p>
      Before starting your games, please take a moment to discuss how you’ll handle forgotten effects (e.g., pets) or
      general mistakes during the game (e.g., forgetting to gain a resource during the production phase, or wanting to
      take another action after passing). Agree on an approach that works for everyone or decide whether errors can be
      corrected retroactively.
    </p>
    <p>
      If you are unable to reach an agreement at your table, please contact someone from the organizing team. They will
      make a decision for you and can assist with interpreting the rules if needed. Please respect their decision.
    </p>
  </section>

  <section>
    <p>
      If at any point during the tournament you feel uncomfortable, please also reach out to someone from the
      organizing team. We will do our best to find a solution.
    </p>
    <p>
      Disregarding the spirit of the tournament (e.g., cheating) or displaying any form of discriminatory behavior will
      result in disqualification from the tournament.
    </p>
  </section>
</section>
