<p>
  Solltet ihr zu sp채t kommen, dann gebt auf jeden Fall Bescheid. Je nachdem wie viel zu sp채t ihr seid, versuchen wir
  euch euren Platz zu sichern oder erlauben uns, den Platz anderweitig zu vergeben.
</p>

<p>
  Wenn du doch nicht zum Turnier kommen kannst, storniere bitte deine Anmeldung in deinem
  <%= link_to "Profil", :profile, class: "link" %>. Solltest du bereits bezahlt haben, 체berweisen wir dir das Geld bei
  einer Stornierung der Anmeldung bis zum <%= l(Time.zone.local(2025, 11, 10, 23, 59), format: :date_with_weekday) %>
  zur체ck.
</p>
