<p>
  If you're running late, please make sure to let us know. Depending on how late you are, we will either try to hold
  your spot for you or reserve the right to give it to someone else.
</p>

<p>
  If you are unable to attend the tournament, please cancel your registration in your
  <%= link_to "Profile", :profile, class: "link" %>. If you have already paid, we will refund your money if you cancel
  your registration by <%= l(Time.zone.local(2025, 11, 10, 23, 59), format: :date_with_weekday) %>.
</p>
