<section>
  <h1><%= t(".heading") %></h1>

  <p>
    Terraformers assemble for the next mission! On
    <strong><%= time_tag Date.new(2025, 11, 15), format: :date_with_weekday %></strong>
    we welcome you to the next installment of the German Open in beautiful Cologne. Immerse yourself in the exciting
    world of Mars colonization and put your skills to the test against other enthusiasts. Join us and become part of
    this galactic adventure!
  </p>

  <br>
  <p>
    As if the thrill of competition wasn't enough, you'll also have the chance to win awesome prizes!
  </p>
</section>
