<section>
  <h1><%= t(".heading") %></h1>

  <p>
    Terraformer, versammelt euch für die nächste Mission! Am
    <strong><%= time_tag Date.new(2025, 11, 15), format: :date_with_weekday %></strong>
    heißen wir euch zur nächsten Ausgabe der German Open im wunderschönen Köln willkommen. Taucht ein in die spannende
    Welt der Marskolonisierung und stellt euer Können im Wettstreit mit anderen Enthusiasten unter Beweis. Seid dabei
    und werdet Teil dieses galaktischen Abenteuers!
  </p>

  <br>
  <p>
    Als wäre der Nervenkitzel des Wettbewerbs nicht genug, habt ihr außerdem die Chance, großartige Preise zu
    gewinnen!
  </p>
</section>
