<p>Willkommen bei den German Open 2025, dem ersten Terraforming Mars-Turnier in Köln – und vermutlich in ganz
  Deutschland! Am
  <%= time_tag Date.new(2025, 4, 5), class: "font-bold" %>
  erwarten wir dich zu einem unvergesslichen Tag voller Taktik, Strategie und Spaß.</p>

<br>
<p>Tauche ein in die spannende Welt der Marskolonisation und stelle dein Geschick gegen andere Enthusiasten unter
  Beweis. Sei dabei und werde Teil dieses galaktischen Abenteuers!</p>

<br>
<p>Als wäre der Nervenkitzel des Wettbewerbs nicht genug, hast du außerdem die Chance, tolle Preise zu gewinnen!</p>
