<p>Welcome to Terraforming Cologne, the first Terraforming Mars tournament in Cologne – and probably in all of Germany!
  On
  <%= time_tag Date.new(2025, 4, 5), class: "font-bold" %>, we look forward to welcoming you to an unforgettable day full of tactics, strategy, and fun.</p>

<br>
<p>Immerse yourself in the exciting world of Mars colonization and put your skills to the test against other
  enthusiasts. Join us and become part of this galactic adventure!</p>

<br>
<p>As if the thrill of competition wasn't enough, you’ll also have the chance to win awesome prizes!</p>
