<h1 class="text-center text-3xl font-bold">Terraforming Cologne</h1>
<h2 class="text-center"><%= t(".terraforming_mars_tournament") %></h2>

<p class="my-8">
  <%= t(".welcome_text") %>
</p>

<div class="m-2 text-center">
  <% unless authenticated? && Current.user.participating? %>
    <%=
      link_to t(".register"),
              :register,
              class: "inline-block cursor-pointer rounded-lg bg-teal-300 px-4 py-2 text-3xl font-bold hover:bg-teal-400"
    %>
  <% end %>
</div>
