<h1 class="text-8xl font-bold">Terraforming Cologne</h1>
<% if authenticated? && Current.user.participating? %>
  <%= link_to t(".profile"), :profile %>
<% else %>
  <%= link_to t(".register"), :register %>
<% end %>

<% if authenticated? && Current.user.admin? %>
  <%= link_to t(".participants"), :participants %>
<% end %>
