<div class="flex flex-col gap-4">
  <% if Current.user.participating? %>
    <%= turbo_frame_tag @user.participants.first!, src: :participation, target: "_top" %>
  <% else %>
    <div class="flex justify-center">
      <% if Participant.max_reached? %>
        <%= render "participants/max_reached" %>
      <% else %>
        <%= render "shared/register_button" %>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= turbo_frame_tag :account, src: :account, target: "_top" %>
  </div>
</div>
