<div class="mb-4">
  <%= turbo_frame_tag :account, src: :account, target: "_top" %>
</div>

<% if @user.participants.exists? %>
  <%= turbo_frame_tag @user.participants.first!, src: :participation, target: "_top" %>
<% end %>
