repos:
  - repo: local
    hooks:
      - id: rubocop
        name: rubocop
        language: system
        types: ["ruby"]
        entry: bundle exec rubocop --autocorrect --force-exclusion
      - id: erb-format
        name: erb-format
        language: system
        types: ["erb"]
        entry: bin/erb-format
        exclude: \.(json|text)\.erb$
      - id: herb-lint
        name: herb-lint
        language: system
        types: ["erb"]
        exclude: \.(json)\.erb$
        entry: bin/erb-lint
      - id: prettier
        name: prettier
        language: system
        entry: npm exec prettier -- --write --ignore-unknown
