<p>
  Hallo
  <%= @user.name %>,
</p>

<br>
<br>

<p>
  Du kannst dein Passwort innerhalb der nächsten 15 Minuten auf
  <%=
    link_to "dieser Seite",
            edit_password_reset_url(@user.password_reset_token),
            class: "text-teal-700 underline decoration-2 hover:text-teal-500"
  %>
  zurücksetzen.
</p>

<br>
<br>

<p>
  Viele Grüße
</p>

<br>

<p>
  Das Terraforming Cologne Team
</p>
