<div class="flex flex-col gap-4">
  <p>
    Welcome to the Terraforming Mars Tournament <span class="font-bold"><%= @tournament.name %></span>! We're delighted
    to have you here.
  </p>

  <p>
    To confirm your attendance, please click the button below. You'll then be redirected to the tournament overview
    page, where you can find your upcoming matches, table assignments, and current rankings.
  </p>

  <p>
    Thank you for taking part – we hope you have an amazing time! If you have any questions or need assistance, please
    visit our desk.
  </p>

  <%= button_to "I am here!", [@tournament, :attendances], method: :post, class: "btn btn-primary", data: {turbo: false}, form_class: "self-center" %>
</div>
