<p>Hallo
  <%= @user.name %>,</p>
<br>
<br>
<p>wir haben deine Anmeldung für Terraforming Cologne 2025 erhalten. Vielen Dank für dein Interesse an unserer
  Veranstaltung!</p>
<p>Bitte erwarte in den kommenden Wochen weitere Informationen zur Veranstaltung und deiner Teilnahme.</p>
<p>Solltest du in der Zwischenzeit Fragen haben, zögere bitte nicht, uns unter
  <%= mail_to "support@terraforming-cologne.de", class: "text-teal-700 underline decoration-2 hover:text-teal-500" %>
  zu kontaktieren.</p>
<br>
<br>
<p>Viele Grüße</p>
<br>
<p>Das Terraforming Cologne Team</p>
