<p>
  Hello
  <%= @user.name %>,
</p>

<br>
<br>

<p>
  we have received your payment for the German Open Terraforming Mars.
</p>

<p>
  Your registration is now complete.
</p>

<br>
<br>

<p>
  Best regards,
</p>

<br>

<p>
  The Terraforming Cologne Team
</p>
