<p>Hallo
  <%= @user.name %>,</p>
<br>
<br>
<p>Deine Bezahlung für Terraforming Cologne 2025 ist eingegangen.</p>
<p>Damit ist deine Registrierung abgeschlossen.</p>
<br>
<br>
<p>Viele Grüße</p>
<br>
<p>Das Terraforming Cologne Team</p>
