<%# locals: (tournament:) %>

<div>
  <h2>Es geht bald los!</h2>

  <p>
    Deine Anwesenheit wurde erfasst und die erste Runde geht bald los! Bitte warte, bis alle Teilnehmenden ihre
    Anwesenheit erfasst haben, und schaue dann auf dieser Seite nach, an welchem Tisch dein erstes Spiel stattfindet.
  </p>
</div>
