<%# locals: (tournament:) %>

<div>
  <h2>It's about to start!</h2>

  <p>
    Your attendance has been recorded and the first round is about to start! Please wait until all participants have
    recorded their attendance, then check this page to see which table your first game will take place at.
  </p>
</div>
