<%# locals: (tournament:) %>

<div class="flex flex-col gap-4">
  <p>
    This is the overview page of the Terraforming Mars Tournament <span class="font-bold"><%= tournament.name %></span>.
  </p>

  <p>
    On this page you will find everything you need to know on the tournament day. When you arrive at the tournament on
    <span class="font-bold"><%= l(tournament.date) %></span>, please open this page to confirm your attendance.
  </p>
</div>
