<%# locals: (tournament:) %>

<div class="flex flex-col gap-4">
  <p>
    Dies ist die Übersichtsseite des Terraforming Mars Turniers <span class="font-bold"><%= tournament.name %></span>.
  </p>

  <p>
    Auf dieser Seite wirst du am Turniertag alles finden, was du wissen musst. Wenn du am
    <span class="font-bold"><%= l(tournament.date) %></span> beim Turnier ankommst, öffne bitte diese Seite, um deine
    Anwesenheit zu bestätigen.
  </p>
</div>
