<%# locals: (tournament:) %>

<p>
  On this page you will find everything you need to know for a joyful tournament day. This includes information about
  your upcoming games including table assignment and the current rankings.
</p>
