<div class="flex flex-col gap-16">
  <%= render "tournaments/heading", tournament: @tournament, sub_heading: t(".overview") %>

  <div class="flex"><span><%= l(@round.start_time, format: :time_of_day) %></span></div>

  <%= render "attendances/next_game", seat: @seat, round: @round, opponent_seats: @opponent_seats %>
</div>
