<%# locals: (tournament:) %>

<% if tournament.spots_left? %>
  <div class="flex flex-col items-center gap-2">
    <%= link_to t("register"), :register, class: "btn btn-primary text-3xl" %>
  </div>
<% else %>
  <%=
    tag.div t(
      :max_participations_html,
      email:
        link_to("support@terraforming-cologne.de", "mailto:support@terraforming-cologne.de", class: "link")
    ),
      class: "rounded bg-amber-100 p-3 text-amber-900"
  %>
<% end %>
