<p>Moin zusammen</p>

<br>
<br>

<p>
  <%= link_to @user.name, participants_url, class: "text-teal-700 underline decoration-2 hover:text-teal-500" %>
  hat bezahlt aber leider seine Teilnahme abgesagt.
</p>

<br>
<br>

<p>
  Viele Grüße
</p>

<br>

<p>
  Der Terraforming Cologne Server
</p>
