<p>
  Moin zusammen
</p>

<br>

<br>

<p>
  <%= @user.name %> hat ihre/seine Teilnahme abgesagt. E-Mail-Adresse:
  <%= link_to @user.email_address, "mailto:#{@user.email_address}", class: "link" %>.
</p>

<p>
  <% if @participation.paid? %>
    Ihre/seine Zahlung wurde bereits bestätigt. Bitte zurücküberweisen!
  <% else %>
    Ihre/seine Zahlung wurde noch nicht bestätigt.
  <% end %>
</p>

<br>

<br>

<p>
  Viele Grüße
</p>

<br>

<p>
  Der Terraforming Cologne Server
</p>
