<p>
  Moin zusammen
</p>

<br>
<br>

<p>
  <%= link_to @user.name, participations_url, class: "link" %>
  hat bezahlt aber leider seine Teilnahme abgesagt.
</p>

<br>
<br>

<p>
  Viele Grüße
</p>

<br>

<p>
  Der Terraforming Cologne Server
</p>
