<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      <%= stylesheet_link_tag "tailwind", "lato-font" %>
    </style>
  </head>

  <body class="container mx-auto p-4">
    <%= yield %>
  </body>
</html>
